<style>
   

    body {
        background: #448ed3 ;
        font-family: "Lato" ;
    }
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    body{
      margin: 0;
      padding: 0;
      background: linear-gradient(120deg,#2980b9, #8e44ad);
      height: 100vh;
      overflow: hidden;
    }
    h1{
        text-align: center;
        color: #f7f7f7;
        line-height: 5em;
    
    }
    .form{
        position: relative;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .center{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background: white;
      border-radius: 10px;
      box-shadow: 10px 10px 15px rgba(115, 6, 6, 0.05);
    }

    </style>
    {% extends 'base.html' %}
    
    {% block meta %}
    <title>Login</title>
    {% endblock meta %}
    
    {% block content %}

<div class = "newtask">
    <div class="form">
        <h1>Isi Kerjaan Kamu Yuk!</h1>
    
        <form method="POST">  
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="judul">Judul:</label></td>
                    <td><input id="judul" type="text" name="judul" style="width: 300px"></td>
                </tr>

                <tr>
                    <td><label for="deskripsi">Deskripsi:</label></td>
                    <td><input id="deskripsi" type="text" name="deskripsi" style="width: 300px; height: 75px"></td>
                </tr>
            </table> 
            <button type="submit">Tambah Task!</button>
        </form> 
        <br>
        <br>
        <button type="submit"><a href="{% url 'todolist:show_todolist' %}">Lihat Daftar Task</a></button>
    
    </div>

</div>

{% endblock content %}